body{
    padding: 0;
    margin: 0;
}

.navigation-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    bottom: 30%;
    background-color: #0c4a6e;
    width: 100%;
}

.active{
    background-color: #0c4a6e;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

html{
    text-size-adjust: 100%;
    line-height: 1.4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chat{
    background-color: burlywood;
}

.section-chat img{
    width: 100%;
}

.section-chat .imagen img {
    border-radius: 50%;
}

.section-chat{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: lavender;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    border-radius: 8px;
}

.hora{
    font-size: 15px;
}

.section-chat-titulo{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    color: black;
}

#titchat{
    padding-top: 50px;
}

.section-chat-titulo h3{
    font-size: 30px;
    font-weight: bold;
}

.section-chat-titulo i{
    margin-right: 20px;
}

.section-chat-vendedores{
    width: 320px;
    margin-right: 50px;
    border-right: 1px solid gray;
    padding-right: 15px;
}

.section-ingresarvend{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.section-buscarvend input{
    display: block;
    width: 100%;
    background-color: aliceblue;
    border: 0;
    padding: 8px 15px;
    border-radius: 20px;
}

.section-buscarvend i{
    position: absolute;
    right: 15px;
}

.section-lista-usuarios{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-vendedorid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
}

.mensaje .imagen,
.section-vendactiv .imagen,
.section-vendedorid .imagen{
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    position: relative;
    background-color: #E4E8F0;
    border-radius: 50%;
}

.mensaje .imagen{
    width: 35px;
    height: 35px;
    margin-right: 1rem;
}

.mensaje.left .imagen{
    margin-right: 0;
    margin-left: 1rem;
}

.section-vendedorid .section-informacion{
    flex-grow: 1;
    flex-basis: 0;
}

.section-vendedorid .section-informacion span{
    display: block;
} 

.section-vendedorid .section-informaciondos span{
    display: block;
}

.section-vendactiv .section-informacion span,
.section-vendedorid .section-informacion span{
    font-size: .8rem;
    color: #929292;
}

#sebastian{
    color: black;
    font-size: 20px;
}

#escribiendo{
    color: black;
    font-size: 15px;
}

#marcos, #sofia, #marcelo, #pablo{
    color: black;
    font-weight: bold;
}

.section-vendedorid .vend{
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background-color: #ADADAD;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 2px solid #fff;
}

.section-vendedorid .vend.conectado{
    background-color: #49DD45;
}

.section-vendedorid .vend.desconectado{
    background-color: red;
}

.noleido{
    display: block;
    width: auto;
    float: right;
    background-color: #4981D5;
    color: #fff;
    padding: 0 8px;
    border-radius: 8px;
    vertical-align: center;
}

.section-conversacion{
    flex-basis: 0;
    flex-grow: 1;
}

.section-vendactiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.panel-escritura .textarea textarea,
.section-vendactiv .section-informacion{
    flex-grow: 1;
    flex-basis: 0;
}

.section-informacion{
    font-size: 18px;
}

.section-vendactiv .section-informacion span{
    display: block;
}

.mensaje{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    justify-content: flex-start;
}

.mensaje.left{
    justify-content: flex-end;
}

.mensaje .section-informacion{
    font-size: 15px;
    padding: 10px;
    background-color: azure;
    border-radius: 8px;
    position: relative;
    width: calc(100% - 35px - 1rem - 5rem);
}

.mensaje .section-informacion .tipo-conexion{
    position: absolute;
    display: block;
    bottom: -25px;
    color: black;
    width: 100%;
}

.mensaje .section-informacion .texto1{
    background-color: lightgray;
}

.mensaje.left{
    text-align: right;
}

.tpo-conexion{
    text-align: right;
}

.mensaje.left .opciones-msj{
    right: initial;
    left: -35px;
}

.mensaje:hover .opciones-msj{
    opacity: 1;
    visibility: visible;
}

.panel-escritura{
    display: block;
}

.panel-escritura .textarea{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid gray;
    padding-top: 20px;
}

.panel-escritura button{
    border: 0;
    background-color: lightblue;
    display: inline-flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.panel-escritura button input{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.panel-escritura button.enviar{
    background-color: cadetblue;
    color: white;
}

.panel-escritura .textarea textarea{
    border: 0;
    background-color: lightgray;
    border-radius: 12px;
    padding: 10px;
}